<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <BredasVSTS>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="n2oxM-poryD-ew92Y-a2tFn" />
    </BredasVSTS>
  </packageSourceCredentials>
</configuration>